<html>
<body class="learn-bar">
<section class="todoapp" style="box-shadow:none;" >
    <header class="header">
    <h1 class>todos</h1>
    <mat-form-field style="display:block; right: 25px; box-shadow: none;" class="form-field" >
        <button (click)="checkAll()" class="check-all-button"  matPrefix mat-icon-button aria-label="Clear">
            <mat-icon class="check-all-button" style="font-size:35px; top:-12px; left:15px"> keyboard_arrow_down
            </mat-icon>
          </button>
        <input class="new-todo" matInput placeholder="         What needs to be done?" value="" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                    0 25px 50px 0 rgba(0, 0, 0, 0.1);" (submit)="createTodoItem()">
    </mat-form-field>
    <todo-item></todo-item>

                
</header>
</section>
<footer style="align-items:center;text-align:center;">
    <p>Double-click to edit a todo
        <br>
        Created by <a href="http://github.com/howiealeshire/">howiealeshire</a>
        <br>
        Part of <a href="http://todomvc.com">TodoMVC</a>
    </p>
</footer>
</body>
</html>
