<html>
<body class="learn-bar">
<section class="todoapp" style="box-shadow:none" >
    <header class="header">
    <h1 class>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" value="" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1)">
</header>
</section>
<footer>
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="http://github.com/howiealeshire/">howiealeshire</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
</body>
</html>
